@import 'variables';
body {
    font-family: $font-stack;
    margin: 0;
    padding: 0;
    }
    .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: $primary-color;
    padding: 20px;
    height: 100px;
    }
    .header__logo--img {
        display: flex;
        width: 200px;
    }
    .header__nav {
    display: flex;
    }
    .header__link {
    color: $primary-color;
    text-decoration: none;
    }
    .header__link:hover {
    color: #ff0000;
    }
    .content {
        display: grid;
    padding: 20px;
    }
    .section__gallery {
      display: flex;
      justify-content: space-between;
      background-color:  $secondary-color;
      height: 400px;
    }
    .section__gallery--photo {
        max-width: 500px;
    }
    .footer {
    background-color: #333;
    color: $primary-color;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    }